
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Chi ver.4</p>
<p>This is view</p>
<p>View by Quan ver.2</p>
<p>View by Chi ver.3</p>
<p>new ver.2</p>
<p>Change Chi ver.2</p>
<p>skddjflsdkjfld</p>
<p>Change Chi ver.3</p>
<p>donbg 14 quan asddasa</p>
